* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 1000px;
    position: relative;
}
.demo{
    display: flex;
    position: absolute;
    bottom: 100px;
}
/* .demomo{
    display: flex;
    position: absolute;
} */


.square{
    height: 10px;
    width: 10px;
    background: red;
    margin-bottom: 10px;
}
/* .box{
    height: 10px;
    width: 10px;
    background: blue;
} */

/* .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.act{
    transform: translateY(0);
    opacity: 1;
  } */