@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

::after,
::before{
    box-sizing: border-box;
}

body{
    line-height: 1.5;
    font-size: 16px;
    background: rgb(255, 251, 251);
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
}

.aside{
    width: 270px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    position: fixed;
    border-right: 1px solid rgb(241, 236, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.aside .logo{
    font-weight: 900;
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}


.aside .logo a{
    color: black;
    letter-spacing: 4px;
    position: relative;
    padding: 23px;
}

.aside .logo a::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
   right: 0;
   top: 0;
   border-top: 5px solid orangered;
   border-right: 5px solid orangered;
}
.aside .logo a::after{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
   left: 0;
   bottom: 0;
   border-left: 5px solid orangered;
   border-bottom: 5px solid orangered;
}

.aside .logo a span{
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
}


.aside .nav{
    margin-top: 60px;
}

.aside .nav li{
    margin-bottom: 25px;
    display: block;
}

.aside .nav li i{
    margin-right: 15px;
}

.aside .nav li a{
    padding: 5px 15px;
    font-weight: 600;
    color: rgb(84, 83, 83);
    border-bottom: 1px solid rgb(227, 218, 218);
    font-size: 18px;
}

.aside .nav li a.active{
    color: orangered;
}

.aside .nav li a:hover{
    color: orangered;
}


